*,
*::after,
*::before{
    box-sizing: border-box;
}
.container{
    max-width: 1201px;
    margin: 0 auto;
}

.wrapper{
    background-image: url(../image/backamage.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

}

.header{
    padding-top: 46px;
    display: flex;
    align-items: end;
    margin-bottom: 240px;

}

.menu ul{
    display: flex;
    margin-left: 34px;
    

}
.menu li + li{
    margin-left: 34px;
}

.menu a{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.title{
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 141px;
    color: white;
    margin-bottom: 15px;
    text-align: left;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #ffff;
}
.item{
    text-align: left;
    margin-bottom: 46px;

}
.slick-dots{
    list-style: none;
    display: flex;
}

.slick-dots li + li{
    margin-left: 20px;
}
.slick-dots button{
    font-size: 0;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffff;
    outline: none;
}

